body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 800px;
  height: 750px;
  background-color: white;
  border: 2px solid #333;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 18px;
  border-radius: 10px;
}
.box-order{
  position: relative;
  border-radius: 10px;
}

.order-detail{
  margin-bottom: 1px;
}


.box-order-summary{
  border: 3px solid black;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 10px;
  height: 250px;
  width: 90%;
  border-radius: 10px;
  
}
.song-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 0px;
}
.song-image {
  max-width: 100%;
  max-height: 100px;

}


.song-name {
  height: 40px;
  margin-bottom: 1px;
  color: black;
}

.song-price {
  font-weight: 700;
  margin-bottom: 1px;
  color: black;
}

.metamask-button{
  cursor: pointer;
  border-radius: 10px;
  background-color: orange;
  border: 3px solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}