body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0; 
  background-image: url('../images/paymentbackgorund.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  
  
}


.order-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.song-image-container {
  flex: 0 0 25%; 
}

.song-image {
  max-width: 100%;
  max-height: 100px;
  margin: 10px;
}

.song-name {
  flex: 1; 
  font-weight: 700;
  margin-bottom: 0;
  color: black;
  font-size: smaller;
}

.song-price {
  flex: 0 0 15%; 
  font-weight: 700;
  color: black;
}

.delete-from-cart-button {
  flex: 0 0 10%; 
  margin-left: 10px; 
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(219, 213, 213);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  font-size: small;
}



.order-summary-title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}


.box-order-summary {
  border: 3px solid black;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 10px;
  height: 250px;
  width: 90%;
  border-radius: 10px;
}


.song-image {
  max-width: 100%;
  max-height: 100px;
  margin: 10px;
}

.song-name {
  height: 40px;
  font-weight: 700;
  margin-bottom: 0;
  color: black;
  font-size: smaller;
  margin: 10px;
}

.song-price {
  font-weight: 700;
  color: black;
}

.openMetaMask {
  border-radius: 10px;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: antiquewhite;
  padding: 10px;
}

.delete-from-cart-button{
  margin: 2px;
  padding: 3px;
  border-radius: 10px;
  color: rgb(219, 213, 213);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  border: none;
  font-size: small;
  cursor: pointer;
}
 
